{
  {$APP_DEBUG}

  log { # 서버 기본 로그 (파일)
    output file {$APP_SERVER_LOG:./logs/frankenphp-server.log}

    format console {
      level_format upper
    }

    level {$APP_LOG_LEVEL:INFO}
  }

  log frankenphp_file { # frankenphp, php 로그 (파일)
    include frankenphp http.handlers.php

    output file {$APP_FRANKENPHP_LOG:./logs/frankenphp-application.log}

    format console {
      level_format upper
    }

    level {$APP_LOG_LEVEL:INFO}
  }

  log frankenphp_stdout { # frankenphp, php 로그 (STDOUT)
    include frankenphp http.handlers.php

    output stdout

    level {$APP_LOG_LEVEL:INFO}
  }

  servers {$APP_SCHEME}{$APP_HOST}:{$APP_PORT:8081} {
    trusted_proxies static private_ranges
    trusted_proxies_strict
  }
}

{$APP_SCHEME}{$APP_HOST}:{$APP_PORT:8081} {
  root * .

  encode zstd gzip

  @forbidden {
    path /.vscode/* /.git/* /logs/* /Caddyfile* /.env* /composer.* /Dockerfile* /run-server.sh /.gitignore *.php
  }

  @statics {
    path /assets/* /favicon.ico
  }
  
  handle @forbidden {
    respond @forbidden "Access Denied" 403
  }

  handle @statics {
    file_server
  }

  handle {
    rewrite /system/index.php?{query}

    php_server {
      worker {
        file ./system/index.php
        num {$APP_WORKER_NUM:1}
        {$APP_WATCH}
      }
    }
  }
}